.position{
    position: relative;
}
#ul_hide{
    position: absolute;
    right: 0;
    z-index: 999;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: auto;
    box-sizing: content-box;

}
#ul_hide li{
    padding: 0 10px;
    min-width: 100px;
}