#nav1{
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: #222;
	margin-bottom: 0;
	font-size: 16px;
	color: #777;
	position: fixed;
	left: 0;
	top: 0;
}

#nav1 .navbar-brand {
	display: block;
	width: 100px;
	height: 35px;
	padding: 10px 0 0 20px;
}
#nav1 .navbar-brand img{
	width: 100%;
	height: auto;
}
#nav1 .dropdown a{
	color: #777;
}

.icon-caret img{
	width: 11px;
	height: 6px;
	margin-left: 10px;
}
#nav1 .dropdown{
	margin-top: -1px;
	width: 175px;
	height: 50px;
	
}
#nav1 .dropdown-toggle{
	display: block;
	width: 100%;
	height: 100%;
	padding-left: 44px;
	background: url(../img/icon6.png) no-repeat 20px center;
	font-family: arial;
}
#nav1 .open{
	background: #000;
}
#nav1 .dropdown-menu li {
    width: 200px;
    height: 40px;
    line-height: 40px;
    padding-left: 64px;
}
.change {
    background: url(../img/icon21.png) no-repeat 35px center;
}
.exit{
	width: 200px;
	height: 40px;
	line-height: 40px;
	padding-left: 64px;
	background: url(../img/icon11.png) no-repeat 35px center;
}
#nav1 .dropdown-menu>li>a {
    display: block;
    padding: 0;
    line-height: 40px;
    clear: both;
    font-weight: 400;
    font-size: 16px;
}
#nav1 .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-color: #fff;
}

.main{
	width: 100%;
	font-size: 16px;
	color: #333;
	padding-top: 50px;
	position: relative;
}
.main-left{
	/*width: 15%;*/
	width: 280px;
	height: 100%;
	float: left;
	border: 1px solid #e7e7e7;
	background: #eee;
	position: fixed;
	left: 0;
	top: 50px;
}
.main-left a{
	color: #777;
}
.left-menu{
	width: 100%;
	padding-top: 22px;
	background: #F8F8F8;
}
.f_menu{
	width: 100%;
	height: 42px;
	line-height: 42px;
	position: relative;
}
.f_menu .icon-folder{
	margin: 0 14px 0 19px;
	display: inline-block;
	width: 21px;
	height: 13px;
	background: url(../img/icon.png) no-repeat left top;
}
.menu-title{
	display: block;
	width: 100%;
	height: 42px;
	line-height: 42px;
	position: relative;
}
.menu-list{
	width: 100%;
	margin: 0;
}

.menu-list li a{
	display: block;
	width: 100%;
	min-height: 34px;
	line-height: 34px;
	padding-left: 96px;
	background: url(../img/icon4.png) no-repeat 73px center;
}
.menu-list li.active{
	background: #3ea9f5;
}
.menu-list li.active a{
	color: #fff;
	background: url(../img/icon5.png) no-repeat 73px center;
}
.icon-folder{
    margin: 0 14px 0 19px;
	display: inline-block;
	width: 21px;
	height: 13px;
	background: url(../img/icon.png) no-repeat left top;
}
.open .icon-folder{
	background: url(../img/icon2.png) no-repeat left top;
}
.icon-arrow{
	position: absolute;
	right: 20px;
	top: 16px;
	width: 12px;
	height: 7px;
	background: url(../img/icon8.png) no-repeat center;
}
.open .icon-arrow{
	background: url(../img/icon7.png) no-repeat center;
}


.main-right{
	width: 100%;
	float: left;
	padding: 0 40px 0 320px;
	background: #fff;
}

.menu-list .sub_file>a{
	background: url(../img/icon1.png) no-repeat 50px center;
}
.sub_list li a{
	padding-left: 95px;
	background: url(../img/icon4.png) no-repeat 75px center;
}
.sub_list li.active a{
	background: url(../img/icon5.png) no-repeat 75px center;
}
.sub_file{
	position: relative;
}
.sub_icon {
    position: absolute;
    right: 20px;
    top: 0;
    height: 34px;
    line-height: 34px;
}

.menu-list .on_file>a{
	background: url(../img/icon2.png) no-repeat 50px center;
}

.sub_list{
	display: none;
}

.pagination>li>a {
    font-size: 16px;
    color: #3ea9f5;
    background: #fff;
}
.pagination>li.active>a {
    background: #3ea9f5;
    color: #fff;
    border: 1px solid #3ea9f5;
}